ASCOMStandard/
ASCOM.Utilities.Core/obj/
.vs/
ASCOM.Utilities.Core/bin/
ASCOM.DriverAccess.Standard/bin/
ASCOM.DriverAccess.Standard/obj/
ASCOM.DriverAccess.Core/bin/
ASCOM.DriverAccess.Core/obj/
ASCOM.Core.LoadTester/bin/
ASCOM.Core.LoadTester/obj/
ASCOM.Controls.Core/bin/
ASCOM.Controls.Core/obj/
ASCOM.SettingsProvider/ASCOM.SettingsProvider/bin/
ASCOM.SettingsProvider/ASCOM.SettingsProvider/obj/
